# Invocations for common project tasks
invoke>=2.0
invocations>=3.2
# Testing!
pytest-relaxed>=2
# pytest-xdist for test dir watching and the inv guard task
pytest-xdist>=3
# Linting!
flake8>=4,<5
# Formatting!
black>=22.8,<22.9
# Spelling!
# TODO Python 3.7: newer codespell has upgraded lists
codespell>=2.2.1,<2.3
# Coverage!
coverage>=6.2,<7
# Documentation tools
alabaster==0.7.13
releases>=2.1
watchdog<2
# Debuggery
icecream>=2.1
# Self (sans GSS which is a pain to bother with most of the time)
-e ".[invoke]"
